@font-face {
  font-family: "Sohne";
  src: url("./assets/fonts/TestSöhne-Leicht.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sohne";
  src: url("./assets/fonts/TestSöhne-Dreiviertelfett.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: "Sohne";
  src: url("./assets/fonts/TestSöhne-Halbfett.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: "Sohne";
  src: url("./assets/fonts/TestSohne-Fett-BF663d89cca89ff.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* body {
  margin: 0;
  font-family: "Sohne", Helvetica, sans-serif;
} */
